
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    line-height: normal;
}

.footer-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 73px;
}
.sightsense1 {
    text-decoration: underline;
}
.sightsense {
    color: #c63c3f;
}
.copyrights-2024-container {
    position: absolute;
    top: 22px;
    left: 49px;
    text-transform: capitalize;
    display: inline-block;
    width: 606px;
    height: 45px;
}
.image-6-icon {
    position: absolute;
    top: 22px;
    left: 1221px;
    width: 29.1px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}
.image-9-icon {
    position: absolute;
    top: 22px;
    left: 1337px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}
.image-10-icon {
    position: absolute;
    top: 22px;
    left: 1279px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}
.footer1 {
    position: absolute;
    top: 851px;
    left: 0px;
    width: 100%;
    height: 73px;
    font-size: 20px;
}
.about-us {
    position: absolute;
    top: 0px;
    left: 26px;
    text-transform: capitalize;
    display: inline-block;
    width: 201px;
    height: 64px;
}
.about-child {
    position: absolute;
    top: 47.5px;
    left: 89.5px;
    border-top: 3px solid #c63c3f;
    box-sizing: border-box;
    width: 73px;
    height: 3px;
}
.about-us1 {
    position: absolute;
    top: 79px;
    left: 0px;
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block;
    width: 253px;
    height: 180px;
}
.about {
    position: absolute;
    top: 468px;
    left: 23px;
    width: 253px;
    height: 259px;
}
.contact-us1 {
    position: absolute;
    top: 0px;
    left: 29px;
    text-transform: capitalize;
    display: inline-block;
    width: 201px;
    height: 64px;
}
.contact-us-child {
    position: absolute;
    top: 46.5px;
    left: 92.5px;
    border-top: 3px solid #c63c3f;
    box-sizing: border-box;
    width: 73px;
    height: 3px;
}
.alexandira-egypt {
    margin: 0;
}
.contact {
    position: absolute;
    top: 78px;
    left: 0px;
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block;
    width: 262px;
    height: 180px;
}
.contact-us {
    position: absolute;
    top: 469px;
    left: 393px;
    width: 262px;
    height: 258px;
}
.browse1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    width: 201px;
    height: 64px;
}
.browse-child {
    position: absolute;
    top: 46.5px;
    left: 63.5px;
    border-top: 3px solid #c63c3f;
    box-sizing: border-box;
    width: 73px;
    height: 3px;
}
.i {
    font-weight: 700;
    font-family: Poppins;
}
.span {
    color: #c63c3f;
    white-space: pre-wrap;
}
.pages {
    position: absolute;
    top: 91px;
    left: 35px;
    text-transform: capitalize;
    display: inline-block;
    width: 116px;
    height: 22px;
    cursor: pointer;
}
.i1 {
    font-weight: 700;
}
.pricing {
    color: #fff;
    white-space: pre-wrap;
}
.pages1 {
    position: absolute;
    top: 135px;
    left: 35px;
    text-transform: capitalize;
    display: inline-block;
    width: 116px;
    height: 22px;
    cursor: pointer;
    color: #c63c3f;
}
.i2 {
    font-weight: 700;
    font-family: Poppins;
    color: #c63c3f;
}
.contact2 {
    white-space: pre-wrap;
}

.blogfooter {
    white-space: pre-wrap;
}
.homefooter {
    white-space: pre-wrap;
}
.pages2 {
    position: absolute;
    top: 157px;
    left: 35px;
    text-transform: capitalize;
    display: inline-block;
    width: 116px;
    height: 22px;
    cursor: pointer;
}
.pages6 {
    position: absolute;
    top: 179px;
    left: 35px;
    text-transform: capitalize;
    display: inline-block;
    width: 116px;
    height: 22px;
    cursor: pointer;
}
.blog {
    color: #fff;
}
.pages3 {
    position: absolute;
    top: 179px;
    left: 34px;
    text-transform: capitalize;
    display: inline-block;
    width: 116px;
    height: 22px;
    cursor: pointer;
    color: #c63c3f;
}
.pages5 {
    position: absolute;
    top: 91px;
    left: 34px;
    text-transform: capitalize;
    display: inline-block;
    width: 116px;
    height: 22px;
    cursor: pointer;
}
.pages4 {
    position: absolute;
    top: 113px;
    left: 34px;
    text-transform: capitalize;
    display: inline-block;
    width: 116px;
    height: 22px;
    cursor: pointer;
}
.browse {
    position: absolute;
    top: 468px;
    left: 795px;
    width: 201px;
    height: 201px;
    text-align: left;
    font-size: 20px;
}
.keep-in-touch1 {
    position: absolute;
    top: 0px;
    left: 0px;
    text-transform: capitalize;
    display: inline-block;
    width: 219px;
    height: 64px;
}
.get-in-touch-child {
    position: absolute;
    top: 48px;
    left: 62px;
    border-top: 3px solid #c63c3f;
    box-sizing: border-box;
    width: 73px;
    height: 3px;
}
.get-in-touch {
    position: absolute;
    top: 0px;
    left: 30px;
    width: 219px;
    height: 64px;
}
.keep-in-touch2 {
    position: absolute;
    top: 79px;
    left: 0px;
    font-size: 20px;
    text-transform: capitalize;
    display: inline-block;
    width: 249px;
    height: 180px;
}
.button {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #c63c3f;
    width: 31px;
    height: 31px;
}
.image-11-icon {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 31px;
    height: 29px;
    object-fit: cover;
}
.send-button {
    position: absolute;
    top: 213px;
    left: 218px;
    width: 31px;
    height: 31px;
}
.label {
    position: relative;
    line-height: 100%;
}
.email-input {
    position: absolute;
    top: 213px;
    left: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #828282;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    width: 218px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 16px;
    text-align: left;
    font-size: 15px;
    font-family: Inter;
}
.keep-in-touch {
    position: absolute;
    top: 468px;
    left: 1139px;
    width: 249px;
    height: 259px;
}
.footer-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 220px;
    mix-blend-mode: normal;
}
.scroll-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    background-color:#fff;
    display: flex;
    align-items: center;
}
.scroll-content {
    display: flex; 
    align-items: center;
    animation: scrollLeft 40s linear infinite; 
}
.scroll-content img {
    flex: 0 0 auto;
    height: 150px; 
    width: auto;
    margin-right: 100px; 
    object-fit: contain;
    vertical-align: middle;
}
.scroll-content img:first-child {
    margin-left: 100px; 
}

@keyframes scrollLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100% + 100px)); }
}
.footer {
    position: absolute;
    top: 8190px;
    left: 1px;
    background-color: #173252;
    width: 100%;
    height: 924px;
    overflow: hidden;
}
.news {
    color: #000;
}
.our-news {
    position: absolute;
    top: 86px;
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); 
    font-size: 60px;
    text-transform: capitalize;
    display: inline-block;
    text-align: center;
    width: 25%;
    height: 113px;
    color: #c63c3f;
}
.home9-child {
    position: absolute;
    top: 169px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 4px solid #c63c3f;
    box-sizing: border-box;
    width: 12.5%;
    text-align: center;
    height: 4px;
    box-sizing: border-box;
}
.read-more {
    position: relative;
    line-height: 150%;
    font-weight: 600;
}
.our-products-button {
    position: absolute;
    top: 514px;
    right: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #c63c3f;
    width: 200px;
    height: 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    box-sizing: border-box;
    transform: translateX(+50%);
}
.b {
    position: absolute;
    top: 16px;
    right: 50%;
    font-size: 40px;
    line-height: 150%;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 59px;
    transform: translateX(+50%);
}
.our-products-button-parent {
    position: absolute;
    top: 225px;
    background-color: #fff;
    width: 31%;
    height: 600px;
    overflow: hidden;
    mix-blend-mode: normal;
    box-sizing: border-box;
    padding: 0 1%;
    left: 1%; 
}
.our-products-button-group {
    position: absolute;
    top: 225px;
    background-color: #fff;
    width: 31%;
    height: 600px;
    overflow: hidden;
    mix-blend-mode: normal;
    box-sizing: border-box;
    padding: 0 1%;
    left: 34%;
}
.our-products-button-container {
    position: absolute;
    top: 225px;
    background-color: #fff;
    width: 31%;
    height: 600px;
    overflow: hidden;
    mix-blend-mode: normal;
    box-sizing: border-box;
    padding: 0 1%;
    left: 67%; 
}
.home9 {
    position: absolute;
    top: 7266px;
    left: 0px;
    right: 0px;
    background-color: #e5eaf6;
    width: 100%;
    height: 924px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home11 {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 924px;
    overflow: hidden;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.warranty-maintenance {
    margin-block-start: 0;
    margin-block-end: 10px;
    left:70%;
}
.our-products-come {
    margin: 0;
    font-size: 30px;
    color: #000;
}
.warranty-maintenance-container1 {
    width: 100%;
}
.warranty-maintenance-container {
    position: absolute;
    top: 420px;
    left: 330px;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 901px;
    height: 404px;
}
.image-23-icon {
    position: absolute;
    top: 51px;
    left: 42%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.home8 {
    position: absolute;
    top: 6342px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 924px;
    overflow: hidden;
    font-size: 50px;
    color: #173252;
}
.illustration-image-icon {
    position: absolute;
    height: 100.18%;
    width: 98.54%;
    top: 0%;
    right: 1.46%;
    bottom: -0.18%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.illustration-image {
    position: absolute;
    top: 181px;
    left: 880px;
    width: 560px;
    height: 561px;
    overflow: hidden;
}
.we-are-sightsense {
    margin-block-start: 0;
    margin-block-end: 15px;
}
.a-team-of {
    margin-block-start: 0;
    margin-block-end: 15px;
    font-size: 25px;
    color: #000;
}
.we-are-sightsense-container {
    position: absolute;
    top: 263px;
    left: 53px;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 803px;
    height: 475px;
}
.know-more {
    position: relative;
    line-height: 150%;
}
.our-products-button3 {
    position: absolute;
    top: 700px;
    right: 1206px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #c63c3f;
    width: 181px;
    height: 77px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}
.home7 {
    position: absolute;
    top: 5420px;
    left: 0px;
    background-color: #e5eaf6;
    width: 100%;
    height: 924px;
    overflow: hidden;
    text-align: left;
    font-size: 40px;
    color: #c63c3f;
}
.our-mobile-application-container {
    position: absolute;
    top: 93px;
    left: 38px;
    font-size: 60px;
    text-transform: capitalize;
    display: inline-block;
    width: 793px;
    height: 113px;
}
.implemented-for-both {
    position: absolute;
    top: 309px;
    left: 99px;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    width: 670px;
    height: 315px;
}
.our-products-button4 {
    position: absolute;
    top: 680px;
    right: 840px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #c63c3f;
    width: 500px;
    height: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    color: #fff;
}
.home6-child {
    position: absolute;
    top: 32px;
    left: 946px;
    width: 400px;
    height: 800px;
    object-fit: cover;
}
.home6 {
    position: absolute;
    top: 4496px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 924px;
    overflow: hidden;
    color: #000;
}
.face-recognition-feature-container {
    position: absolute;
    top: 104px;
    left: 28px;
    text-transform: capitalize;
    display: inline-block;
    width: 793px;
    height: 113px;
}
.our-goggles-also {
    position: absolute;
    top: 294px;
    left: 42px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 500px;
    height: 444px;
}
.image-20-icon {
    position: absolute;
    top: 217px;
    left: 600px;
    width: 900px;
    height: 577.3px;
    object-fit: cover;
}
.home5 {
    position: absolute;
    top: 3572px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 924px;
    overflow: hidden;
    text-align: left;
    font-size: 60px;
    color: #c63c3f;
}
.object-detection-feature-container {
    position: absolute;
    top: 104px;
    left: 28px;
    font-size: 60px;
    text-transform: capitalize;
    display: inline-block;
    width: 793px;
    height: 113px;
    color: #c63c3f;
}
.image-19-icon {
    position: absolute;
    top: 217px;
    left: 600px;
    width: 900px;
    height: 598.6px;
    object-fit: cover;
}
.m {
    position: absolute;
    top: 508px;
    left: 1235px;
    text-transform: capitalize;
    display: inline-block;
    width: 55px;
    height: 15px;
}
.m1 {
    position: absolute;
    top: 300px;
    left: 972px;
    text-transform: capitalize;
    display: inline-block;
    width: 55px;
    height: 15px;
}
.m2 {
    position: absolute;
    top: 283px;
    left: 1397px;
    text-transform: capitalize;
    display: inline-block;
    width: 55px;
    height: 15px;
}
.designed-especially-for {
    margin: 0;
    white-space: pre-wrap;
}
.designed-especially-for-container {
    position: absolute;
    top: 294px;
    left: 42px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    width: 35%;
    height: 444px;
}
.m3 {
    position: absolute;
    top: 412px;
    left: 1076px;
    text-transform: capitalize;
    display: inline-block;
    width: 38px;
    height: 15px;
}
.m4 {
    position: absolute;
    top: 433px;
    left: 683px;
    text-transform: capitalize;
    display: inline-block;
    width: 51px;
    height: 15px;
}
.m5 {
    position: absolute;
    top: 490px;
    left: 854px;
    text-transform: capitalize;
    display: inline-block;
    width: 55px;
    height: 15px;
}
.home4 {
    position: absolute;
    top: 2648px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 924px;
    overflow: hidden;
    text-align: left;
    margin: 0 auto;
    font-size: 15px;
    color: #000;
}
.cart-icon {
    width: 29px;
    position: relative;
    height: 27px;
    object-fit: cover;
}
.our-products-button5 {
    position: absolute;
    top: 603px;
    right: 53px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #c63c3f;
    width: 250px;
    height: 77.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    box-sizing: border-box;
    gap: 8px;
}
.our-products-button6 {
    position: absolute;
    top: 603px;
    right: 340px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #c63c3f;
    width: 100px;
    height: 77.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    box-sizing: border-box;
}
.basic-edition {
    position: absolute;
    top: 24px;
    left: 110px;
    font-size: 40px;
    line-height: 150%;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 59px;
}
.img1{
    display: inline-block;
    width: 300px;
    height: auto;
}
.img2{
    display: inline-block;
    width: 300px;
    height: auto;
}
.newsimg{
    display: inline-block;
    transform: translateY(50%);
    width: 300px;
    height: auto;
}
.frame-child {
    position: absolute;
    top: 81px;
    left: 173px;
    border-top: 4px solid #c63c3f;
    box-sizing: border-box;
    width: 144px;
    height: 4px;
}
.frame-div {
    position: absolute;
    top: 60px;
    left: 10%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #e5eaf6;
    width: 500px;
    height: 700px;
    overflow: hidden;
    mix-blend-mode: normal;
}
.our-products-button7 {
    position: absolute;
    top: 603px;
    right: 43px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #c63c3f;
    width: 250px;
    height: 77.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    box-sizing: border-box;
    gap: 8px;
}
.our-products-button8 {
    position: absolute;
    top: 603px;
    right: 343px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #c63c3f;
    width: 100px;
    height: 77.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    box-sizing: border-box;
}
.premium-edition {
    position: absolute;
    top: 24px;
    left: 70px;
    font-size: 40px;
    line-height: 150%;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 59px;
}
.frame-item {
    position: absolute;
    top: 81px;
    left: 173px;
    border-top: 4px solid #c63c3f;
    box-sizing: border-box;
    width: 144px;
    height: 4px;
}

.our-products-button-parent1 {
    position: absolute;
    top: 60px;
    right: 10%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #e5eaf6;
    width: 500px;
    height: 700px;
    overflow: hidden;
    mix-blend-mode: normal;
}
.home3 {
    position: absolute;
    top: 1724px;
    left: 0px;
    background-color: #fff;
    width: 100%;
    height: 924px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 187px;
    mix-blend-mode: normal;
}
.image-5-icon {
    position: absolute;
    top: 16.37px;
    left: 65.04px;
    width: 59.9px;
    height: 61.2px;
    object-fit: cover;
}
.maintenance-available {
    position: absolute;
    top: 94.53px;
    left: 0px;
    text-transform: capitalize;
    display: inline-block;
    width: 190px;
    height: 65.5px;
}
.pros-3-child {
    position: absolute;
    top: 0px;
    left: 47.93px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0);
    border: 2px dashed #c63c3f;
    box-sizing: border-box;
    width: 94.1px;
    height: 94.8px;
}
.pros-3 {
    position: absolute;
    top: 11px;
    left: 1083px;
    width: 190px;
    height: 160px;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.image-3-icon {
    position: absolute;
    top: 12px;
    left: 61px;
    width: 69px;
    height: 69px;
    object-fit: cover;
}
.support {
    position: absolute;
    top: 97.64px;
    left: 0px;
    text-transform: capitalize;
    display: inline-block;
    width: 190px;
    height: 62.4px;
}
.pros-2-child {
    position: absolute;
    top: 0px;
    left: 47.93px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0);
    border: 2px dashed #c63c3f;
    box-sizing: border-box;
    width: 94.1px;
    height: 90.3px;
}
.pros-2 {
    position: absolute;
    top: 11px;
    left: 625px;
    width: 190px;
    height: 160px;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.image-2-icon {
    position: absolute;
    top: 20.76px;
    left: 61.62px;
    width: 68.5px;
    height: 53.8px;
    object-fit: cover;
}
.fast-delivery {
    position: absolute;
    top: 94.27px;
    left: 0px;
    text-transform: capitalize;
    display: inline-block;
    width: 190px;
    height: 65.7px;
}
.pros-1-child {
    position: absolute;
    top: 0px;
    left: 48.78px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0);
    border: 2px dashed #c63c3f;
    box-sizing: border-box;
    width: 94.1px;
    height: 95.1px;
}
.pros-1 {
    position: absolute;
    top: 11px;
    left: 178px;
    width: 190px;
    height: 160px;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.vector-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 187px;
    background-color: #e5eaf6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-products {
    position: absolute;
    top: 349px;
    left: 32%;
    font-size: 60px;
    text-transform: capitalize;
    display: inline-block;
    width: 588px;
    height: 113px;
}
.home2-child {
    position: absolute;
    top: 460px;
    left: 45%;
    border-top: 4px solid #c63c3f;
    box-sizing: border-box;
    width: 144px;
    height: 4px;
}
.span4 {
    font-weight: 300;
    font-family: Poppins;
}
.sightsense2 {
    font-family: Poppins;
}
.navigate-confidently-using-container {
    position: absolute;
    top: 508px;
    left: 20%;
    font-size: 30px;
    text-transform: capitalize;
    display: inline-block;
    width: 997px;
    height: 288px;
}
.home2 {
    position: absolute;
    top: 800px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    width: 100%;
    height: 924px;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    color: #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.we-provide-visually {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 25px;
    text-transform: capitalize;
    display: inline-block;
    width: 1043px;
    height: 130px;
}
.sightsense4 {
    position: absolute;
    top: 115px;
    left: calc(50% - 250.5px);
    font-size: 60px;
    text-transform: capitalize;
    display: inline-block;
    color: #c63c3f;
    width: 499.2px;
    height: 145.3px;
}
.our-products-button9 {
    position: absolute;
    top: 298px;
    right: 604px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #c63c3f;
    width: 168px;
    height: 77.1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    box-sizing: border-box;
    text-align: left;
}
.contact-us-button {
    position: absolute;
    top: 298px;
    left: 602px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset;
    border-radius: 50px;
    background-color: #c63c3f;
    width: 168px;
    height: 77.1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    box-sizing: border-box;
    text-align: left;
}
.main-screen-content {
    position: absolute;
    top: 200px;
    left: 199px;
    width: 1043px;
    height: 3px;
    transform: translate(5%, -30%);
}
.home11 {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 700px;
    overflow: hidden;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.nav-bar-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #173252;
}
.logo-icon {
    position: absolute;
    height: 80%;
    width: 6.86%;
    top: 7%;
    right: 90.48%;
    bottom: 13%;
    left: 2.66%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.home10 {
    position: absolute;
    height: 19%;
    width: 7.36%;
    top: 37.96%;
    left: 19.79%;
    text-transform: capitalize;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.about3 {
    position: absolute;
    height: 19%;
    width: 7.36%;
    top: 37.96%;
    left: 33.33%;
    text-transform: capitalize;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.pricing1 {
    position: absolute;
    height: 19%;
    width: 7.36%;
    top: 37.96%;
    left: 46.88%;
    text-transform: capitalize;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.contact3 {
    position: absolute;
    height: 19%;
    width: 7.36%;
    top: 37.96%;
    left: 60.42%;
    text-transform: capitalize;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.news1 {
    position: absolute;
    height: 19%;
    width: 7.36%;
    top: 37.96%;
    left: 73.96%;
    text-transform: capitalize;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.cart-icon2 {
    position: absolute;
    height: 30%;
    width: 3.23%;
    top: 38%;
    right: 8.73%;
    bottom: 32%;
    left: 88.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.search-icon {
    position: absolute;
    height: 30%;
    width: 2.1%;
    top: 40%;
    right: 5.53%;
    bottom: 30%;
    left: 92.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.nav-bar {
    position: fixed;
    top: 0px;
    left: 0%;
    right: 0%;
    background-color: #173252;
    height: 100px;
    cursor: pointer;
    font-size: 18px;
}
.home {
    width: 100%;
    position: relative;
    background-color: #173252;
    height: 9100px;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: Poppins;
}





